In [4]:
%matplotlib inline
import pandas as pd
import numpy as np

In [9]:
print(open('foo.csv').read())

date,A,B,C
20090101,a,1,2
20090102,b,3,4
20090103,c,4,5

In [10]:
pd.read_csv('foo.csv')

       date  A  B  C
0  20090101  a  1  2
1  20090102  b  3  4
2  20090103  c  4  5

In [11]:
pd.read_csv('foo.csv', index_col=0)

          A  B  C
date
20090101  a  1  2
20090102  b  3  4
20090103  c  4  5

In [14]:
pd.read_csv('foo.csv', index_col=[0,'A'])

            B  C
date     A
20090101 a  1  2
20090102 b  3  4
20090103 c  4  5

In [13]:
pd.read_csv('foo.csv', index_col=0)

          A  B  C
date
20090101  a  1  2
20090102  b  3  4
20090103  c  4  5

In [15]:
pd.read_csv('foo.csv', index_col='date')

          A  B  C
date
20090101  a  1  2
20090102  b  3  4
20090103  c  4  5

In [17]:
print(foo)

NameError: name 'foo' is not defined